export(RI_design)
export(RI_unadjusted)
export(RI_adjusted)
export(netmatch)
export(matched_data)
export(sensitivity_grid)
export(critical_sensitivity)
export(plot_sensitivity)
export(plot_covariate_balance)
export(plot_covariate_similarity)
export(simulate_netmatch_example)
export(diagnose_match)
S3method(print,netmatch)
S3method(print,netmatch_summary)
S3method(summary,netmatch)
S3method(plot,netmatch)
S3method(plot,netmatch_sensitivity)
S3method(plot,netmatch_critical_sensitivity)
S3method(print,netmatch_test)
S3method(print,netmatch_sensitivity)
S3method(print,netmatch_critical_sensitivity)
