export(RI_decay)
export(RI_design)
export(RI_naive)
export(netmatch)
export(netmatch_sensitivity)
export(critical_sensitivity)
export(plot_sensitivity)
export(simulate_netmatch_example)
export(diagnose_match)
S3method(print,netmatch)
S3method(summary,netmatch)
S3method(plot,netmatch)
S3method(plot,netmatch_sensitivity)
S3method(plot,netmatch_critical_sensitivity)
S3method(print,netmatch_test)
S3method(print,netmatch_sensitivity)
S3method(print,netmatch_critical_sensitivity)
